@model IEnumerable<ProyectoWeb.Models.ConsultaDominioDTO>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idDominioGen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idDominioGen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>            
            <label class="container">
                @Html.DisplayFor(modelItem => item.Estado)
                <span class="checkmark"></span>
            </label>
        </td>
        <td>
            @Html.ActionLink("Editar", "UpdateDetalle", new {  id=item.idDominioGen  }) 
        </td>
    </tr>
}

</table>

