@model ProyectoWeb.Models.CrearDominioDTO

@{
    ViewBag.Title = "Actualizar Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h2>Actualizar Detalle</h2>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dominio, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("Dominio", (SelectList)ViewBag.Dominio, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dominio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idDominioGen, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("idDominioGen", (SelectList)ViewBag.idDominioGen, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idDominioGen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idDominio, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("idDominio", (SelectList)ViewBag.idDominio, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idDominio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idCodigo, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("idCodigo", (SelectList)ViewBag.idCodigo, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idCodigo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("Estado", (SelectList)ViewBag.Estado, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-sm float-right" />
                    <div>
                        @Html.ActionLink("Volver", "List")
                    </div>
                </div>
            </div>
        </div>
    </div>



}


