@model ProyectoWeb.Models.Form425CrearEncabezado

@{
    ViewBag.Title = "Crear Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
            <div class="card">
                <div class="card-header">
                    Crear Formulario 425 (Tarjetas de crédito)
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idNombreComercial, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idNombreComercial", (SelectList)ViewBag.NombreComercial, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idNombreComercial, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idAperturaDigital, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idAperturaDigital", (SelectList)ViewBag.AperturaDigital, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idAperturaDigital, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroClientes, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NumeroClientes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumeroClientes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idFranquicia, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idFranquicia", (SelectList)ViewBag.Franquicia, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idFranquicia, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CuotaManejo, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.CuotaManejo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CuotaManejo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idObservacionesCuota, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idObservacionesCuota", (SelectList)ViewBag.ObservacionesCuotadeManejo, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idObservacionesCuota, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CuotaManejoMaxima, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.CuotaManejoMaxima, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CuotaManejoMaxima, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idGrupoPoblacional, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idGrupoPoblacional", (SelectList)ViewBag.GrupoPoblacional, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idGrupoPoblacional, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idCupo, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idCupo", (SelectList)ViewBag.Cupo, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idCupo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idServicioGratuito_1, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idServicioGratuito_1", (SelectList)ViewBag.ServicioGratuito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idServicioGratuito_1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idServicioGratuito_2, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idServicioGratuito_2", (SelectList)ViewBag.ServicioGratuito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idServicioGratuito_2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idServicioGratuito_3, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idServicioGratuito_3", (SelectList)ViewBag.ServicioGratuito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idServicioGratuito_3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Guardar" onclick="return ValidarCuotaManejo()" class="btn btn-primary btn-sm float-right" />
                            <div>
                                @Html.ActionLink("Volver", "List")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#CuotaManejo').change(function () {
            ValidarCuotaManejo();
        });

        $('#idServicioGratuito_1').change(function () {
            ValidarCuotaManejo();
        });

        $('#idServicioGratuito_2').change(function () {
            ValidarCuotaManejo();
        });

        $('#idServicioGratuito_3').change(function () {
            ValidarCuotaManejo();
        });
        $('#idObservacionesCuota').change(function () {
            ValidarCuotaManejo();
        });

        function ValidarCuotaManejo() {
            var retorno = true;
            LimpiarMensajeGeneral();
            var value = $("#CuotaManejo").val();
            var ObCuota = $("#idObservacionesCuota option:selected").val();

            console.log(value);
            console.log(ObCuota);

            var Sg1 = $("#idServicioGratuito_1 option:selected").val();
            var Sg2 = $("#idServicioGratuito_2 option:selected").val();
            var Sg3 = $("#idServicioGratuito_3 option:selected").val();


            if (ObCuota == '1351') {// Sí NO tienCuota de manejo"
                $('#CuotaManejo').val("");
                $('#CuotaManejo').prop("disabled", true);

                var isValidsg = true;

                //Sí No tiene "Cuota de manejo", Valores válidos para "Servicio Gratuito " 98 - No aplica

                if ((Sg1 == '78' && Sg2 == '78' && Sg3 == '78')) {
                    LimpiarMensajeGeneral();
                    retorno = true;
                }
                else {
                    isValidsg = false;
                }

                if (!isValidsg) {
                    retorno = false;
                    MensajeGeneral('Si NO TIENE cuota de manejo puede seleccionar en Servicio Gratuito: <br/>98- No aplica');
                }
            }

            else {//Si TIENE cuota de manejo
                $("#CuotaManejo").prop("disabled", false);
                if (value < 1) {
                    retorno = false;
                    MensajeGeneral('Agregue un valor a la cuota de manejo');
                }
                else {
                    if (true) {
                        //Si TIENE cuota de manejo puede seleccionar en Servicio Gratuito: 11 - Avance en cajero de la misma entidad 12 - Avance en oficina 13 - Consulta de saldo en cajero de la misma entidad 14 - Reposicion por deterior'
                        if ((Sg1 == '74' || Sg1 == '75' || Sg1 == '76' || Sg1 == '77') && (Sg2 == '74' || Sg2 == '75' || Sg2 == '76' || Sg2 == '77') && (Sg3 == '74' || Sg3 == '75' || Sg3 == '76' || Sg3 == '77')) {
                            retorno = true;
                        }
                        else {
                            retorno = false;
                            MensajeGeneral('Si TIENE cuota de manejo puede seleccionar en Servicio Gratuito: <br/>11 - Avance en cajero de la misma entidad <br/>12 - Avance en oficina <br/>13 - Consulta de saldo en cajero de la misma entidad <br/>14 - Reposicion por deterioro');
                        }
                    }
                }

            }

            return retorno;

        }

    </script>
}
