@model ProyectoWeb.Models.Form425ConsultaEncabezado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Form425ConsultaEncabezado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPropiedadesFormato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPropiedadesFormato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AperturaDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AperturaDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAperturaDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAperturaDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroClientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroClientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Franquicia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Franquicia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idFranquicia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idFranquicia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuotaManejo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuotaManejo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idObservacionesCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idObservacionesCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuotaManejoMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuotaManejoMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoPoblacional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoPoblacional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idGrupoPoblacional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idGrupoPoblacional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicioGratuito_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicioGratuito_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idServicioGratuito_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idServicioGratuito_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicioGratuito_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicioGratuito_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idServicioGratuito_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idServicioGratuito_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicioGratuito_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicioGratuito_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idServicioGratuito_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idServicioGratuito_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_horaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_horaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechacorte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechacorte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoRegistro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
