@model ProyectoWeb.Models.Form425ConsultaEncabezado

@{
    ViewBag.Title = "Detailles Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <div class="card">
        <div class="card-header">
            SUPERINTENDENCIA FINANCIERA DE COLOMBIA
        </div>
        <h3 style="text-align:center;">TARIFAS DE LOS PRODUCTOS DE DEPÓSITO</h3>
        <h4 style="text-align:center;">FORMATO 425</h4>
        <h5 style="text-align:center;">CIRCULAR EXTERNA 006 DE 2023</h5>
        <div class="card-body">
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Tipo)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.Codigo)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Codigo)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Nombre)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.NombreComercial)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.NombreComercial)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idAperturaDigital)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.AperturaDigital)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.NumeroClientes)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.NumeroClientes)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idFranquicia)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Franquicia)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.CuotaManejo)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.CuotaManejo)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idObservacionesCuota)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.ObservacionesCuota)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.CuotaManejoMaxima)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.CuotaManejoMaxima)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idGrupoPoblacional)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.GrupoPoblacional)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idCupo)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Cupo)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idServicioGratuito_1)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.ServicioGratuito_1)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idServicioGratuito_2)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.ServicioGratuito_2)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.idServicioGratuito_3)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.ServicioGratuito_3)
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 float-right">
                    @Html.ActionLink("Editar", "Update/" + Model.idPropiedadesFormato, Model.idPropiedadesFormato, new { @class = "btn btn-primary btn-sm float-right" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 float-right">
            @Html.ActionLink("Nuevo Detalle", "CrearDetalle/" + Model.idPropiedadesFormato)
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Detalles
        </div>
        <div class="card-body">
            @Html.Partial("ListDetalles", (List<ProyectoWeb.Models.Form425ConsultaDetalle>)@ViewBag.ListaDetalles)
        </div>
    </div>
</div>
