@model IEnumerable<ProyectoWeb.Models.Form425ConsultaDetalle>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idOperacionoServicio)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Canal)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CostoFijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoFijoMaximo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CostoProporcionOperacionServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoProporcionMaxOperacionServicio)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Tasa)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TasaMaxima)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.idTipoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCodigoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idObservaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subcuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperacionoServicio)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Canal)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CostoFijo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoFijoMaximo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CostoProporcionOperacionServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoProporcionMaxOperacionServicio)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Tasa)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TasaMaxima)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TipoAseguradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoAseguradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Editar", "UpdateDetalle", new {  id=item.idDetalle }) 
        </td>
    </tr>
}

</table>
