@model IEnumerable<ProyectoWeb.Models.Form425ConsultaEncabezado>

@{
    ViewBag.Title = "Lista de formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAperturaDigital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroClientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idFranquicia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuotaManejo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idObservacionesCuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuotaManejoMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idGrupoPoblacional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idServicioGratuito_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idServicioGratuito_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idServicioGratuito_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AperturaDigital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroClientes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Franquicia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuotaManejo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObservacionesCuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuotaManejoMaxima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoPoblacional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicioGratuito_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicioGratuito_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicioGratuito_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoRegistro)
        </td>
        <td>
            @Html.ActionLink("Ver", "Details", new {  id=item.idPropiedadesFormato  }) 
        </td>
    </tr>
}

</table>
