@model ProyectoWeb.Models.Form424CrearDetalle

@{
    ViewBag.Title = "Crear Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idPropiedadesFormato)

    <div class="card">
        <div class="card-header">
            <h2>Crear Detalle 424 (Depositos)</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Subcuentas, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Subcuentas, new { htmlAttributes = new { @class = "form-control disabled" } })
                            @Html.ValidationMessageFor(model => model.Subcuentas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idOperacionServicio, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("idOperacionServicio", (SelectList)ViewBag.DescripcionOperacionServicio, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idOperacionServicio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idCanal, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("idCanal", (SelectList)ViewBag.Canal, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idCanal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NumOperServiciosCuotamanejo, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NumOperServiciosCuotamanejo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumOperServiciosCuotamanejo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CostoFijo, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CostoFijo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CostoFijo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CostoProporcionOperacionServicio, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CostoProporcionOperacionServicio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CostoProporcionOperacionServicio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idObservaciones, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("idObservaciones", (SelectList)ViewBag.Observaciones, "Seleccione..", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idObservaciones, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Guardar" class="btn btn-primary btn-sm float-right" />
                    <div>
                        @Html.ActionLink("Volver", "List")
                    </div>
                </div>
            </div>
        </div>
    </div>
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#idObservaciones').change(function () {
            var value = $("#idObservaciones option:selected").text();

            if (value == '90 - Desactivación') {
                $('#idOperacionServicio').val("");
                $('#idOperacionServicio').prop("disabled", true);

                $('#idCanal').val("");
                $('#idCanal').prop("disabled", true);

                $("#NumOperServiciosCuotamanejo").val('0')
                $('#NumOperServiciosCuotamanejo').prop("disabled", true);

                $('#CostoFijo').val("0");
                $('#CostoFijo').prop("disabled", true);

                $('#CostoProporcionOperacionServicio').val("0");
                $('#CostoProporcionOperacionServicio').prop("disabled", true);
            }
            else if (value == '1 - Costo fijo o proporcional  en dólares') {
                var input = $('#CostoFijo');
                var is_name = input.val();
                //console.log(is_name);

                if (is_name > 0) {
                    input.removeClass("invalid").addClass("valid");
                    $("#NotificacionesGenerales").after('<span class="text-danger field-validation-error"></span>');
                    input.after('<span class="text-danger field-validation-error"></span>');
                }
                else {
                    input.removeClass("valid").addClass("invalid");
                    $("#NotificacionesGenerales").after('<span class="text-danger field-validation-error">El valor del campo costo fijo debe ser mayor a cero.</span>');
                    input.after('<span class="text-danger field-validation-error">El valor del campo costo fijo debe ser mayor a cero.</span>');
                }
            }
            else {
                $('#CostoProporcionOperacionServicio').prop("disabled", false);
                $('#idOperacionServicio').prop("disabled", false);
                $('#idCanal').prop("disabled", false);
                $('#NumOperServiciosCuotamanejo').prop("disabled", false);
                $('#CostoFijo').prop("disabled", false);
            }
        });

        $('#NumOperServiciosCuotamanejo').change(function () {
            var value = $("#NumOperServiciosCuotamanejo").val();
            //console.log(value);
            //console.log($("#NumOperServiciosCuotamanejo"));
            if (value == '-1') {
                //console.log(value);
                $('#CostoFijo').val("0");
                $('#CostoFijo').prop("disabled", true);

                $('#CostoProporcionOperacionServicio').val("0");
                $('#CostoProporcionOperacionServicio').prop("disabled", true);
            }
            else {
                $('#CostoFijo').prop("disabled", false);
                $('#CostoProporcionOperacionServicio').prop("disabled", false);
            }


        });
    </script>
}