@model ProyectoWeb.Models.Form424ConsultaEncabezado

@{
    ViewBag.Title = "Detalles Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="card">
        <div class="card-header">
            Formulario 424 (Depositos)
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Tipo)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.Codigo)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Codigo)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Nombre)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.FechaHora)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.FechaHora)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.NombreComercial)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.NombreComercial)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.TipoProductoDeposito)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.TipoProductoDeposito)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.AperturaDigital)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.AperturaDigital)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.NumeroClientes)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.NumeroClientes)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.CuotaManejo)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.CuotaManejo)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.ObservacionesCuota)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.ObservacionesCuota)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.GrupoPoblacional)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.GrupoPoblacional)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.Ingresos)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.Ingresos)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.SerGratuito_CtaAH1)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.SerGratuito_CtaAH1)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.SerGratuito_CtaAH2)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.SerGratuito_CtaAH2)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.SerGratuito_CtaAH3)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.SerGratuito_CtaAH3)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.SerGratuito_TCRDebito1)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.SerGratuito_TCRDebito1)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.SerGratuito_TCRDebito2)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.SerGratuito_TCRDebito2)
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div>
                            @Html.DisplayNameFor(model => model.SerGratuito_TCRDebito3)
                        </div>

                        <div>
                            @Html.DisplayFor(model => model.SerGratuito_TCRDebito3)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 float-right">
                    @Html.ActionLink("Editar", "Update/" + Model.idPropiedadesFormato, Model.idPropiedadesFormato, new { @class = "btn btn-primary btn-sm float-right" })
                    <div>
                        @Html.ActionLink("Volver", "List")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 float-right">
            @Html.ActionLink("Nuevo Detalle", "CrearDetalle/" + Model.idPropiedadesFormato)
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Detalles
        </div>
        <div class="card-body">
            @Html.Partial("ListDetalles", (List<ProyectoWeb.Models.Form424ConsultaDetalle>)@ViewBag.ListaDetalles)
        </div>
    </div>
</div>

