@model IEnumerable<ProyectoWeb.Models.Form424ConsultaDetalle>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idOperacionServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCanal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOperServiciosCuotamanejo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoFijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoProporcionOperacionServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoRegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subcuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperacionServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOperServiciosCuotamanejo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoFijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoProporcionOperacionServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @if (item.Estado == "1")
                {
                    @Html.ActionLink(item.DescripcionEstado, "../ErroresSFC/Index", new { treg = 'U', idPropForm = item.idPropiedadesFormato, idRegDet = item.idDetalle, form = 1 })
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.DescripcionEstado)
                  
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoRegistro)

            </td>
            <td>
                @Html.ActionLink("Editar", "UpdateDetalle", new { id = item.idDetalle, opc = 1 })
                @Html.ActionLink("Desactivar", "UpdateDetalle", new { id = item.idDetalle, opc = 2 })
            </td>
        </tr>
    }

</table>