@model ProyectoWeb.Models.Form424ConsultaEncabezado

@{
    ViewBag.Title = "Actualizar Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
            <div class="card">
                <div class="card-header">
                    Actualizar encabezado 424 (Depósitos)
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()
                
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idNombreComercial, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idNombreComercial", (SelectList)ViewBag.NombreComercial, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idNombreComercial, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoProductoDeposito, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idTipoProductoDeposito", (SelectList)ViewBag.TipodeProductoDeposito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoProductoDeposito, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AperturaDigital, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idAperturaDigital", (SelectList)ViewBag.AperturaDeposito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AperturaDigital, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroClientes, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NumeroClientes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumeroClientes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.GrupoPoblacional, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idGrupoPoblacional", (SelectList)ViewBag.GrupoPoblacional, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GrupoPoblacional, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CuotaManejo, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CuotaManejo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CuotaManejo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ObservacionesCuota, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idObservacionesCuota", (SelectList)ViewBag.ObservacionesCuotadeManejo, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ObservacionesCuota, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Ingresos, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idIngresos", (SelectList)ViewBag.Ingresos, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Ingresos, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_CtaAH1, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_CtaAHO", (SelectList)ViewBag.ServicioGratuitoCuentadeAhorros, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_CtaAH1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_CtaAH2, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_CtaAHO2", (SelectList)ViewBag.ServicioGratuitoCuentadeAhorros, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_CtaAH2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_CtaAH3, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_CtaAHO3", (SelectList)ViewBag.ServicioGratuitoCuentadeAhorros, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_CtaAH3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_TCRDebito1, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_TCRDebito", (SelectList)ViewBag.ServicioGratuitoTarjetaDebito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_TCRDebito1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_TCRDebito2, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_TCRDebito2", (SelectList)ViewBag.ServicioGratuitoTarjetaDebito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_TCRDebito2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_TCRDebito3, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_TCRDebito3", (SelectList)ViewBag.ServicioGratuitoTarjetaDebito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_TCRDebito3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-sm float-right" />
                            <div>
                                @Html.ActionLink("Volver", "Details", new { id = Model.idPropiedadesFormato })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#idTipoProductoDeposito').change(function () {
            var value = $("#idTipoProductoDeposito option:selected").val();
           /* console.log(value);*/
            if (value == '6' || value == '7') {
                $('#idAperturaDigital').val("");
                $('#idAperturaDigital').prop("disabled", true);

                $('#NumeroClientes').val("");
                $('#NumeroClientes').prop("disabled", true);

                $('#idGrupoPoblacional').val("");
                $('#idGrupoPoblacional').prop("disabled", true);

                $("#idObservacionesCuota").val("")
                $('#idObservacionesCuota').prop("disabled", true);

                $('#idIngresos').val("");
                $('#idIngresos').prop("disabled", true);

                $('#idSerGratuito_CtaAHO').val("");
                $('#idSerGratuito_CtaAHO').prop("disabled", true);

                $('#idSerGratuito_CtaAHO2').val("");
                $('#idSerGratuito_CtaAHO2').prop("disabled", true);

                $('#idSerGratuito_CtaAHO3').val("");
                $('#idSerGratuito_CtaAHO3').prop("disabled", true);

                $('#idSerGratuito_TCRDebito').val("");
                $('#idSerGratuito_TCRDebito').prop("disabled", true);

                $("#idSerGratuito_TCRDebito2").val("")
                $('#idSerGratuito_TCRDebito2').prop("disabled", true);

                $('#idSerGratuito_TCRDebito3').val("");
                $('#idSerGratuito_TCRDebito3').prop("disabled", true);
            }

            else {
                $('#idAperturaDigital').prop("disabled", false);
                $('#NumeroClientes').prop("disabled", false);
                $('#idGrupoPoblacional').prop("disabled", false);
                $('#idObservacionesCuota').prop("disabled", false);
                $('#idIngresos').prop("disabled", false);
                $('#idSerGratuito_CtaAHO').prop("disabled", false);
                $('#idSerGratuito_CtaAHO2').prop("disabled", false);
                $('#idSerGratuito_CtaAHO3').prop("disabled", false);
                $('#idSerGratuito_TCRDebito').prop("disabled", false);
                $('#idSerGratuito_TCRDebito2').prop("disabled", false);
                $('#idSerGratuito_TCRDebito3').prop("disabled", false);

            }
        });


    </script>
}


