@model ProyectoWeb.Models.Form424ConsultaEncabezado

@{
    ViewBag.Title = "Actualizar Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
            <div class="card">
                <div class="card-header">
                    SUPERINTENDENCIA FINANCIERA DE COLOMBIA
                </div>
                <br>
                <h3 style="text-align:center;">TARIFAS DE LOS PRODUCTOS DE DEPÓSITO</h3>
                <h4 style="text-align:center;">FORMATO 424</h4>
                <h5 style="text-align:center;">CIRCULAR EXTERNA 006 DE 2023</h5>

                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.idPropiedadesFormato)
                    @Html.HiddenFor(model => model.Nombre)
                    @Html.HiddenFor(model => model.Codigo)
                    @Html.HiddenFor(model => model.Tipo)

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idNombreComercial, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idNombreComercial", (SelectList)ViewBag.NombreComercial, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idNombreComercial, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoProductoDeposito, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idTipoProductoDeposito", (SelectList)ViewBag.TipodeProductoDeposito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TipoProductoDeposito, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AperturaDigital, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idAperturaDigital", (SelectList)ViewBag.AperturaDeposito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AperturaDigital, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroClientes, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NumeroClientes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumeroClientes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.GrupoPoblacional, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idGrupoPoblacional", (SelectList)ViewBag.GrupoPoblacional, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GrupoPoblacional, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CuotaManejo, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CuotaManejo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CuotaManejo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ObservacionesCuota, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idObservacionesCuota", (SelectList)ViewBag.ObservacionesCuotadeManejo, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ObservacionesCuota, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Ingresos, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idIngresos", (SelectList)ViewBag.Ingresos, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Ingresos, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_CtaAH1, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_CtaAHO", (SelectList)ViewBag.ServicioGratuitoCuentadeAhorros, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_CtaAH1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_CtaAH2, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_CtaAHO2", (SelectList)ViewBag.ServicioGratuitoCuentadeAhorros, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_CtaAH2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_CtaAH3, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_CtaAHO3", (SelectList)ViewBag.ServicioGratuitoCuentadeAhorros, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_CtaAH3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_TCRDebito1, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_TCRDebito", (SelectList)ViewBag.ServicioGratuitoTarjetaDebito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_TCRDebito1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_TCRDebito2, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_TCRDebito2", (SelectList)ViewBag.ServicioGratuitoTarjetaDebito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_TCRDebito2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerGratuito_TCRDebito3, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.DropDownList("idSerGratuito_TCRDebito3", (SelectList)ViewBag.ServicioGratuitoTarjetaDebito, "Seleccione..", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerGratuito_TCRDebito3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-sm float-right" />
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div>
    @Html.ActionLink("Volver", "List")
</div>