@model ProyectoWeb.Models.Form426ConsultaEncabezado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Form426ConsultaEncabezado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPropiedadesFormato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPropiedadesFormato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCodigoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCodigoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AperturaDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AperturaDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idAperturaDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idAperturaDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_horaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_horaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechacorte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechacorte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPropiedadesFormatoAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPropiedadesFormatoAnterior)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
