@model IEnumerable<ProyectoWeb.Models.Form426ConsultaDetalle>


<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.idDetalle)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Subcuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaracteristicaCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCodigoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoRegistro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.idDetalle)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Subcuenta)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CaracteristicaCredito)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Costo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tasa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoAseguradora)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CodigoAseguradora)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Observaciones)
    </td>
    <td>
        @if (item.Estado == "1")
        {
            @Html.ActionLink(item.DescripcionEstado, "../ErroresSFC/Index", new { treg = 'U', idPropForm = item.idPropiedadesFormato, idRegDet = item.idDetalle, form = 3 })
          
        }
        else
        {
            @Html.DisplayFor(modelItem => item.DescripcionEstado)
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CodigoRegistro)

    </td>
    <td>
        @Html.ActionLink("Editar", "UpdateDetalle", new { id = item.idDetalle })
        @Html.ActionLink("Desactivar", "DeleteDetalle", new { id = item.idDetalle })
    </td>

</tr>
    }

</table>
