@model IEnumerable<ProyectoWeb.Models.Form426ConsultaDetalle>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDetalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropiedadesFormato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPropiedadesFormato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subcuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaracteristicaCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCaracteristicaCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCodigoAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idObservaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadCaptura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaProceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDetalleAnterior)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDetalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropiedadesFormato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPropiedadesFormato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subcuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaracteristicaCredito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCaracteristicaCredito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAseguradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoAseguradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoAseguradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCodigoAseguradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idObservaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadCaptura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaProceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDetalleAnterior)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
