@model IEnumerable<ProyectoWeb.Models.Form426ConsultaEncabezado>

@{
    ViewBag.Title = "Lista de formularios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPropiedadesFormato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCodigoCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAperturaDigital)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPropiedadesFormato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AperturaDigital)
            </td>
            <td>
                @Html.ActionLink("Ver", "Details", new { id = item.idPropiedadesFormato })
            </td>


        </tr>
    }

</table>
