@model ProyectoWeb.Models.Form426ConsultaEncabezado

@{
    ViewBag.Title = "Actualizar Formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
        <div class="card">
            <div class="card-header">
                Actualizar encabezado 426 (Créditos)
            </div>
            <div class="card-body">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.idPropiedadesFormato)
                @Html.HiddenFor(model => model.Nombre)
                @Html.HiddenFor(model => model.Codigo)
                @Html.HiddenFor(model => model.Tipo)

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TipoProductoCredito, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("TipoProductoCredito", (SelectList)ViewBag.TiposCredito, "Seleccione..", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TipoProductoCredito, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.idCodigoCredito, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("idCodigoCredito", (SelectList)ViewBag.CodigoCredito, "Seleccione..", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idCodigoCredito, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.idAperturaDigital, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.DropDownList("idAperturaDigital", (SelectList)ViewBag.AperturaDigital, "Seleccione..", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idAperturaDigital, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-sm float-right" />
                        <div>
                            @Html.ActionLink("Volver", "Details", new { id = Model.idPropiedadesFormato })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $("#TipoProductoCredito").change(function () {
                $.get("/Formato426/LlenadoCreditos", { tipo: $("#TipoProductoCredito").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#idCodigoCredito").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#idCodigoCredito").append("<option value> Seleccione..</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#idCodigoCredito").append("<option value='" + row.Value + "'>" + row.Text + "</option>")
                    });
                });
            });
        });
    </script>
}