@using ProyectoWeb.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/sidebar.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/PluginsCSS")
    @RenderSection("estilos", required: false)
</head>
<body>
    <div class='dashboard'>
        <div class="dashboard-nav">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="#" class="brand-logo">
                    <img class="img-fluid" img1" src="https://www.bancopichincha.com.co/o/pichincha-theme/images/logo.png" width="150" height="35" />
                </a>
            </header>
            <nav class="dashboard-nav-list">
                <a href="@Url.Action("Index", "Home")" class="dashboard-nav-item">
                    <i class="fas fa-home"></i>
                    Home
                </a>
                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fas fa-book"></i> Formularios
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a href="@Url.Action("List", "Formato424")" class="dashboard-nav-dropdown-item">424 (Depósitos)</a>
                        <a href="@Url.Action("List", "Formato425")" class="dashboard-nav-dropdown-item">425 (Tarjetas de crédito)</a>
                        <a href="@Url.Action("List", "Formato426")" class="dashboard-nav-dropdown-item">426 (Creditos)</a>
                    </div>
                </div>
                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                        <i class="fas fa-users"></i> Configuraciones
                    </a>
                    <div class='dashboard-nav-dropdown-menu'>
                        <a href="@Url.Action("List", "Dominio")" class="dashboard-nav-dropdown-item">Dominios</a>
                    </div>
                </div>
                <div class='dashboard-nav-dropdown'>
                    <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">

                        <i class="fas fa-pen"></i> Envio SFC

                    </a>
                </div>

                @*<a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a>*@
                <div class="nav-item-divider"></div>
                <a href="@Url.Action("Salir", "Home")" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Salir </a>
            </nav>
        </div>
        <div class='dashboard-app'>
            <header class='dashboard-toolbar'>
                <div class="row">
                    <div class="col-2">
                        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
                    </div>
                    <div class="col-10 menu-name">
                        <strong> Hola, @User.Identity.Name !</strong>
                    </div>
                </div>
            </header>
            <div class='dashboard-content'>
                <div class="container-fluid mt-4">
                    <div class="Mensajes">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (TempData["Notificacion"] != null && TempData["Notificacion"].ToString() != "Mensaje")
                        {
                            <p id="NotificacionesGenerales">@TempData["Notificacion"]</p>
                        }
                        else
                        {
                            <p id="NotificacionesGenerales"></p>
                        }
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")

    <script type="text/javascript">

        const mobileScreen = window.matchMedia("(max-width: 990px )");
        $(document).ready(function () {
            $(".dashboard-nav-dropdown-toggle").click(function () {
                $(this).closest(".dashboard-nav-dropdown")
                    .toggleClass("show")
                    .find(".dashboard-nav-dropdown")
                    .removeClass("show");
                $(this).parent()
                    .siblings()
                    .removeClass("show");
            });
            $(".menu-toggle").click(function () {
                if (mobileScreen.matches) {
                    $(".dashboard-nav").toggleClass("mobile-show");
                } else {
                    $(".dashboard").toggleClass("dashboard-compact");
                }
            });
        });

    </script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ComunJs.js"></script>
</body>
</html>
